.container {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.img-box {
  background-image: url(https://startbootstrap.github.io/startbootstrap-agency/assets/img/header-bg.jpg);
  height: 80%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}


.header {
  color: white;
  height: 10vh;
  width: 100vw;
  /* background-color: black; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 0px 25px;
}

.desktop-menu {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  width: 500px;
  margin-right: 5vw;
}

img {
  margin-left: 10vw;
  height: 30px;
}

.dropdown {
  display: none;
}

.body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  flex-direction: column;
  height: 200px;
  width: 100vw;
}

.welcome {
  color: white;
  font-size: 30px;
  margin: 0;
}

.meet {
  color: white;
  font-size: 50px;
  margin: 0;
}

.button {
    background-color:#ebcd39;
    border-radius:5px;
    display:inline-block;
    cursor:pointer;
    color:white;
    font-family:Arial;
    font-size:16px;
    font-weight:bold;
    padding:20px 40px;
    text-decoration:none;
    border-style: none;
}

@media (max-width: 1000px) {
  img {
    margin-left: 7vw;
    height: 25px;
  }
  span {
    font-size: 15px;
  }
  .desktop-menu {
    width: 400px;
    margin-right: 3vw;
  }
}

@media (max-width: 768px) {
  .img-box{
    height: 55vh;
  }
  img {
    margin-left: 5vw;
  }
  .desktop-menu {
    display: none;
  }
  .dropdown {
    display: initial;
    border-radius:4px;
    border: 1px white;
    border-style: solid;
    background-color: #ebcd39;
    display:inline-block;
    color:white;
    font-family:Arial;
    font-size:11px;
    font-weight:bold;
    padding:8px 12px;
    margin-right: 8vw;
  }
  .mobile-menu {
    display: initial;
    background-color: #202020;
    position: fixed;
    top: 60px;
    right: 0px;
    height: 150px;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  span {
    margin-left: 9vw;
  }
  .header {
    background-color: #202020;
    height: 60px;
  }
}
